@charset "UTF-8";
/*
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal
*/
body {
  font-size: 1.1rem;
  /* Problème */
  font-family: Trebuchet MS, serif;
  color: #666;
  line-height: 2rem;
  background: #fff;
  padding: 0;
}

a {
  color: orange;
  text-decoration: none;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}
a:visited {
  color: red;
}

h1 {
  font-size: 2em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

h2 {
  font-size: 1.5em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

h3 {
  font-size: 1em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

h4 {
  font-size: 1em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

h5 {
  font-size: 1em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

h6 {
  font-size: 1em;
  margin: 1.6em 0 0.8em 0;
  color: #666;
  font-family: Trebuchet MS, serif;
}

/* Les conteneurs */
*[class*='conteneur'], *[class*='bloc'] {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  clear: both;
}
*[class*='conteneur'] > *, *[class*='bloc'] > * {
  display: inline-block;
  overflow: hidden;
  width: 97%;
  box-sizing: border-box;
  font-size: 1.1rem;
  vertical-align: top;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
*[class*='conteneur'].grille-conteneur-margeExt-0, *[class*='bloc'].grille-conteneur-margeExt-0 {
  width: 103%;
  margin-left: -1.5%;
}

*[class*='conteneur-fixe'] {
  max-width: 960px;
  margin: auto;
}

/* Les items */
/* Pour les écrans small */
@media screen and (min-width: 0) {
  *[class*='16-conteneur'] .grille-item-small-1 {
    width: 3.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-1 {
    margin-left: 7.75%;
  }
  *[class*='16-conteneur'] .grille-item-small-2 {
    width: 9.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-2 {
    margin-left: 14%;
  }
  *[class*='16-conteneur'] .grille-item-small-3 {
    width: 15.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-3 {
    margin-left: 20.25%;
  }
  *[class*='16-conteneur'] .grille-item-small-4 {
    width: 22%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-4 {
    margin-left: 26.5%;
  }
  *[class*='16-conteneur'] .grille-item-small-5 {
    width: 28.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-5 {
    margin-left: 32.75%;
  }
  *[class*='16-conteneur'] .grille-item-small-6 {
    width: 34.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-6 {
    margin-left: 39%;
  }
  *[class*='16-conteneur'] .grille-item-small-7 {
    width: 40.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-7 {
    margin-left: 45.25%;
  }
  *[class*='16-conteneur'] .grille-item-small-8 {
    width: 47%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-8 {
    margin-left: 51.5%;
  }
  *[class*='16-conteneur'] .grille-item-small-9 {
    width: 53.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-9 {
    margin-left: 57.75%;
  }
  *[class*='16-conteneur'] .grille-item-small-10 {
    width: 59.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-10 {
    margin-left: 64%;
  }
  *[class*='16-conteneur'] .grille-item-small-11 {
    width: 65.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-11 {
    margin-left: 70.25%;
  }
  *[class*='16-conteneur'] .grille-item-small-12 {
    width: 72%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-12 {
    margin-left: 76.5%;
  }
  *[class*='16-conteneur'] .grille-item-small-13 {
    width: 78.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-13 {
    margin-left: 82.75%;
  }
  *[class*='16-conteneur'] .grille-item-small-14 {
    width: 84.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-14 {
    margin-left: 89%;
  }
  *[class*='16-conteneur'] .grille-item-small-15 {
    width: 90.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-15 {
    margin-left: 95.25%;
  }
  *[class*='16-conteneur'] .grille-item-small-16 {
    width: 97%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-small-16 {
    margin-left: 101.5%;
  }

  .grille-bloc-small-16-1 > * {
    width: 3.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-2 > * {
    width: 9.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-3 > * {
    width: 15.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-4 > * {
    width: 22%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-5 > * {
    width: 28.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-6 > * {
    width: 34.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-7 > * {
    width: 40.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-8 > * {
    width: 47%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-9 > * {
    width: 53.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-10 > * {
    width: 59.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-11 > * {
    width: 65.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-12 > * {
    width: 72%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-13 > * {
    width: 78.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-14 > * {
    width: 84.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-15 > * {
    width: 90.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-small-16-16 > * {
    width: 97%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
}
/* Pour les écrans medium */
@media screen and (min-width: 480px) {
  *[class*='16-conteneur'] .grille-item-medium-1 {
    width: 3.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-1 {
    margin-left: 7.75%;
  }
  *[class*='16-conteneur'] .grille-item-medium-2 {
    width: 9.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-2 {
    margin-left: 14%;
  }
  *[class*='16-conteneur'] .grille-item-medium-3 {
    width: 15.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-3 {
    margin-left: 20.25%;
  }
  *[class*='16-conteneur'] .grille-item-medium-4 {
    width: 22%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-4 {
    margin-left: 26.5%;
  }
  *[class*='16-conteneur'] .grille-item-medium-5 {
    width: 28.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-5 {
    margin-left: 32.75%;
  }
  *[class*='16-conteneur'] .grille-item-medium-6 {
    width: 34.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-6 {
    margin-left: 39%;
  }
  *[class*='16-conteneur'] .grille-item-medium-7 {
    width: 40.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-7 {
    margin-left: 45.25%;
  }
  *[class*='16-conteneur'] .grille-item-medium-8 {
    width: 47%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-8 {
    margin-left: 51.5%;
  }
  *[class*='16-conteneur'] .grille-item-medium-9 {
    width: 53.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-9 {
    margin-left: 57.75%;
  }
  *[class*='16-conteneur'] .grille-item-medium-10 {
    width: 59.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-10 {
    margin-left: 64%;
  }
  *[class*='16-conteneur'] .grille-item-medium-11 {
    width: 65.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-11 {
    margin-left: 70.25%;
  }
  *[class*='16-conteneur'] .grille-item-medium-12 {
    width: 72%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-12 {
    margin-left: 76.5%;
  }
  *[class*='16-conteneur'] .grille-item-medium-13 {
    width: 78.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-13 {
    margin-left: 82.75%;
  }
  *[class*='16-conteneur'] .grille-item-medium-14 {
    width: 84.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-14 {
    margin-left: 89%;
  }
  *[class*='16-conteneur'] .grille-item-medium-15 {
    width: 90.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-15 {
    margin-left: 95.25%;
  }
  *[class*='16-conteneur'] .grille-item-medium-16 {
    width: 97%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-medium-16 {
    margin-left: 101.5%;
  }

  .grille-bloc-medium-16-1 > * {
    width: 3.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-2 > * {
    width: 9.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-3 > * {
    width: 15.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-4 > * {
    width: 22%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-5 > * {
    width: 28.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-6 > * {
    width: 34.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-7 > * {
    width: 40.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-8 > * {
    width: 47%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-9 > * {
    width: 53.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-10 > * {
    width: 59.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-11 > * {
    width: 65.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-12 > * {
    width: 72%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-13 > * {
    width: 78.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-14 > * {
    width: 84.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-15 > * {
    width: 90.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-medium-16-16 > * {
    width: 97%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
}
/* Pour les écrans larges */
@media screen and (min-width: 720px) {
  *[class*='16-conteneur'] .grille-item-large-1 {
    width: 3.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-1 {
    margin-left: 7.75%;
  }
  *[class*='16-conteneur'] .grille-item-large-2 {
    width: 9.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-2 {
    margin-left: 14%;
  }
  *[class*='16-conteneur'] .grille-item-large-3 {
    width: 15.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-3 {
    margin-left: 20.25%;
  }
  *[class*='16-conteneur'] .grille-item-large-4 {
    width: 22%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-4 {
    margin-left: 26.5%;
  }
  *[class*='16-conteneur'] .grille-item-large-5 {
    width: 28.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-5 {
    margin-left: 32.75%;
  }
  *[class*='16-conteneur'] .grille-item-large-6 {
    width: 34.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-6 {
    margin-left: 39%;
  }
  *[class*='16-conteneur'] .grille-item-large-7 {
    width: 40.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-7 {
    margin-left: 45.25%;
  }
  *[class*='16-conteneur'] .grille-item-large-8 {
    width: 47%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-8 {
    margin-left: 51.5%;
  }
  *[class*='16-conteneur'] .grille-item-large-9 {
    width: 53.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-9 {
    margin-left: 57.75%;
  }
  *[class*='16-conteneur'] .grille-item-large-10 {
    width: 59.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-10 {
    margin-left: 64%;
  }
  *[class*='16-conteneur'] .grille-item-large-11 {
    width: 65.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-11 {
    margin-left: 70.25%;
  }
  *[class*='16-conteneur'] .grille-item-large-12 {
    width: 72%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-12 {
    margin-left: 76.5%;
  }
  *[class*='16-conteneur'] .grille-item-large-13 {
    width: 78.25%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-13 {
    margin-left: 82.75%;
  }
  *[class*='16-conteneur'] .grille-item-large-14 {
    width: 84.5%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-14 {
    margin-left: 89%;
  }
  *[class*='16-conteneur'] .grille-item-large-15 {
    width: 90.75%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-15 {
    margin-left: 95.25%;
  }
  *[class*='16-conteneur'] .grille-item-large-16 {
    width: 97%;
  }
  *[class*='16-conteneur'] .grille-item-decalage-large-16 {
    margin-left: 101.5%;
  }

  .grille-bloc-large-16-1 > * {
    width: 3.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-2 > * {
    width: 9.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-3 > * {
    width: 15.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-4 > * {
    width: 22%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-5 > * {
    width: 28.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-6 > * {
    width: 34.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-7 > * {
    width: 40.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-8 > * {
    width: 47%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-9 > * {
    width: 53.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-10 > * {
    width: 59.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-11 > * {
    width: 65.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-12 > * {
    width: 72%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-13 > * {
    width: 78.25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-14 > * {
    width: 84.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-15 > * {
    width: 90.75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  .grille-bloc-large-16-16 > * {
    width: 97%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
}
/* Taille des textes */
.texte-taille-grand {
  font-size: 3rem;
  line-height: 3rem;
}

.texte-taille-petit {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

/* Styles des textes */
.texte-style-italique {
  font-style: italic;
}

/* Couleur des textes */
.texte-couleur-principale {
  color: #123456;
}

.texte-couleur-secondaire {
  color: #234567;
}

/* Couleurs des boites */
.boite-couleur-principale {
  background: #123456;
}

.boite-couleur-secondaire {
  background: #234567;
}

.boite-couleur-neutre-claire {
  background: #ccc;
  color: #666;
}

.boite-couleur-neutre-foncee {
  background: #666;
  color: #ccc;
}

*[class*='boite-couleur'] {
  padding: 1rem;
}

/* Alignement du contenu des boites */
.boite-contenu-centre {
  text-align: center;
}

.boite-contenu-droite {
  text-align: right;
}

.boite-contenu-justifie {
  text-align: justify;
}

/* Alignement des boites */
.boite-alignement-centre {
  margin: auto;
}

.boite-habillage-gauche {
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.boite-habillage-droite {
  float: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.boite-annulation-habillage:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}

/* Bordures des boîtes */
.boite-bordure-principale {
  border: #123456 2px solid;
  padding: 1rem;
}

.boite-bordure-nulle {
  border: none;
}

.boite-bordure-arrondie {
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}

/* */
.boite-margeExt-0 {
  margin: 0;
}

/* Menus horizontaux */
.menu-horizontal > ul, .menu-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .menu-horizontal > ul > li, .menu-horizontal > li {
    display: inline-block;
  }
}
.menu-horizontal > ul > li > a, .menu-horizontal > li > a {
  display: block;
}
@media screen and (max-width: 480px) {
  .menu-horizontal > ul > li > a, .menu-horizontal > li > a {
    margin-bottom: 1px;
    text-align: center;
  }
}

/* Styles des menus */
*[class*='menu-style-bouton'] a {
  padding: 1rem;
  background: orange;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  *[class*='menu-style-bouton'] a {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
  }
}
*[class*='menu-style-bouton'] a.actif {
  background: red;
  color: #fff;
}
*[class*='menu-style-bouton'] a:hover {
  background: red;
  color: #fff;
}
*[class*='menu-style-bouton'] a:active {
  background: red;
  color: #fff;
}
*[class*='menu-style-bouton'] a:visited {
  background: red;
  color: #fff;
}

.visibilite-non {
  display: none;
}

/* Pour les écrans small */
@media screen and (max-width: 480px) {
  .visibilite-small-non {
    display: none;
  }

  .visibilite-small-oui {
    display: initial;
  }
}
/* Pour les écrans medium */
@media screen and (min-width: 480px) and (max-width: 720px) {
  .visibilite-medium-non {
    display: none;
  }

  .visibilite-medium-oui {
    display: initial;
  }
}
/* Pour les écrans larges */
@media screen and (min-width: 720px) {
  .visibilite-large-non {
    display: none;
  }

  .visibilite-large-oui {
    display: initial;
  }
}
