@charset "UTF-8";
/*
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal
*/
/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    grilles-commun.css
    Spécifications commune aux grilles
*/
/* Les conteneurs */
*[class*='conteneur'] {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  clear: both;
}
*[class*='conteneur'] > * {
  display: inline-block;
  overflow: hidden;
  width: 97%;
  box-sizing: border-box;
  font-size: 1rem;
  vertical-align: top;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
*[class*='conteneur'].grille-conteneur-sans-marges-ext {
  width: 103.6%;
  margin-left: -1.8%;
}

*[class*='conteneur-fixe'] {
  max-width: 960px;
  margin: auto;
}

/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    grille-16.css
    Mise en place d'une grille responsive fixe/fluide en 16 colonnes
*/
/* Les items */
/* Pour les écrans small */
@media screen and (min-width: 0) {
  /* Dimension des items  */
  /* Dimension des items  */
  .grille-item-small-1 {
    width: 3.25%;
  }

  /* Décalages */
  .grille-item-small-decalage-1 {
    margin-left: 7.75%;
  }

  /* Dimension des items  */
  .grille-item-small-2 {
    width: 9.5%;
  }

  /* Décalages */
  .grille-item-small-decalage-2 {
    margin-left: 14%;
  }

  /* Dimension des items  */
  .grille-item-small-3 {
    width: 15.75%;
  }

  /* Décalages */
  .grille-item-small-decalage-3 {
    margin-left: 20.25%;
  }

  /* Dimension des items  */
  .grille-item-small-4 {
    width: 22%;
  }

  /* Décalages */
  .grille-item-small-decalage-4 {
    margin-left: 26.5%;
  }

  /* Dimension des items  */
  .grille-item-small-5 {
    width: 28.25%;
  }

  /* Décalages */
  .grille-item-small-decalage-5 {
    margin-left: 32.75%;
  }

  /* Dimension des items  */
  .grille-item-small-6 {
    width: 34.5%;
  }

  /* Décalages */
  .grille-item-small-decalage-6 {
    margin-left: 39%;
  }

  /* Dimension des items  */
  .grille-item-small-7 {
    width: 40.75%;
  }

  /* Décalages */
  .grille-item-small-decalage-7 {
    margin-left: 45.25%;
  }

  /* Dimension des items  */
  .grille-item-small-8 {
    width: 47%;
  }

  /* Décalages */
  .grille-item-small-decalage-8 {
    margin-left: 51.5%;
  }

  /* Dimension des items  */
  .grille-item-small-9 {
    width: 53.25%;
  }

  /* Décalages */
  .grille-item-small-decalage-9 {
    margin-left: 57.75%;
  }

  /* Dimension des items  */
  .grille-item-small-10 {
    width: 59.5%;
  }

  /* Décalages */
  .grille-item-small-decalage-10 {
    margin-left: 64%;
  }

  /* Dimension des items  */
  .grille-item-small-11 {
    width: 65.75%;
  }

  /* Décalages */
  .grille-item-small-decalage-11 {
    margin-left: 70.25%;
  }

  /* Dimension des items  */
  .grille-item-small-12 {
    width: 72%;
  }

  /* Décalages */
  .grille-item-small-decalage-12 {
    margin-left: 76.5%;
  }

  /* Dimension des items  */
  .grille-item-small-13 {
    width: 78.25%;
  }

  /* Décalages */
  .grille-item-small-decalage-13 {
    margin-left: 82.75%;
  }

  /* Dimension des items  */
  .grille-item-small-14 {
    width: 84.5%;
  }

  /* Décalages */
  .grille-item-small-decalage-14 {
    margin-left: 89%;
  }

  /* Dimension des items  */
  .grille-item-small-15 {
    width: 90.75%;
  }

  /* Décalages */
  .grille-item-small-decalage-15 {
    margin-left: 95.25%;
  }

  /* Dimension des items  */
  .grille-item-small-16 {
    width: 97%;
  }

  /* Décalages */
  .grille-item-small-decalage-16 {
    margin-left: 101.5%;
  }
}
/* Pour les écrans medium */
@media screen and (min-width: 480px) {
  /* Dimension des items  */
  /* Dimension des items  */
  .grille-item-medium-1 {
    width: 3.25%;
  }

  /* Décalages */
  .grille-item-medium-decalage-1 {
    margin-left: 7.75%;
  }

  /* Dimension des items  */
  .grille-item-medium-2 {
    width: 9.5%;
  }

  /* Décalages */
  .grille-item-medium-decalage-2 {
    margin-left: 14%;
  }

  /* Dimension des items  */
  .grille-item-medium-3 {
    width: 15.75%;
  }

  /* Décalages */
  .grille-item-medium-decalage-3 {
    margin-left: 20.25%;
  }

  /* Dimension des items  */
  .grille-item-medium-4 {
    width: 22%;
  }

  /* Décalages */
  .grille-item-medium-decalage-4 {
    margin-left: 26.5%;
  }

  /* Dimension des items  */
  .grille-item-medium-5 {
    width: 28.25%;
  }

  /* Décalages */
  .grille-item-medium-decalage-5 {
    margin-left: 32.75%;
  }

  /* Dimension des items  */
  .grille-item-medium-6 {
    width: 34.5%;
  }

  /* Décalages */
  .grille-item-medium-decalage-6 {
    margin-left: 39%;
  }

  /* Dimension des items  */
  .grille-item-medium-7 {
    width: 40.75%;
  }

  /* Décalages */
  .grille-item-medium-decalage-7 {
    margin-left: 45.25%;
  }

  /* Dimension des items  */
  .grille-item-medium-8 {
    width: 47%;
  }

  /* Décalages */
  .grille-item-medium-decalage-8 {
    margin-left: 51.5%;
  }

  /* Dimension des items  */
  .grille-item-medium-9 {
    width: 53.25%;
  }

  /* Décalages */
  .grille-item-medium-decalage-9 {
    margin-left: 57.75%;
  }

  /* Dimension des items  */
  .grille-item-medium-10 {
    width: 59.5%;
  }

  /* Décalages */
  .grille-item-medium-decalage-10 {
    margin-left: 64%;
  }

  /* Dimension des items  */
  .grille-item-medium-11 {
    width: 65.75%;
  }

  /* Décalages */
  .grille-item-medium-decalage-11 {
    margin-left: 70.25%;
  }

  /* Dimension des items  */
  .grille-item-medium-12 {
    width: 72%;
  }

  /* Décalages */
  .grille-item-medium-decalage-12 {
    margin-left: 76.5%;
  }

  /* Dimension des items  */
  .grille-item-medium-13 {
    width: 78.25%;
  }

  /* Décalages */
  .grille-item-medium-decalage-13 {
    margin-left: 82.75%;
  }

  /* Dimension des items  */
  .grille-item-medium-14 {
    width: 84.5%;
  }

  /* Décalages */
  .grille-item-medium-decalage-14 {
    margin-left: 89%;
  }

  /* Dimension des items  */
  .grille-item-medium-15 {
    width: 90.75%;
  }

  /* Décalages */
  .grille-item-medium-decalage-15 {
    margin-left: 95.25%;
  }

  /* Dimension des items  */
  .grille-item-medium-16 {
    width: 97%;
  }

  /* Décalages */
  .grille-item-medium-decalage-16 {
    margin-left: 101.5%;
  }
}
/* Pour les écrans larges */
@media screen and (min-width: 720px) {
  /* Dimension des items  */
  /* Dimension des items  */
  .grille-item-large-1 {
    width: 3.25%;
  }

  /* Décalages */
  .grille-item-large-decalage-1 {
    margin-left: 7.75%;
  }

  /* Dimension des items  */
  .grille-item-large-2 {
    width: 9.5%;
  }

  /* Décalages */
  .grille-item-large-decalage-2 {
    margin-left: 14%;
  }

  /* Dimension des items  */
  .grille-item-large-3 {
    width: 15.75%;
  }

  /* Décalages */
  .grille-item-large-decalage-3 {
    margin-left: 20.25%;
  }

  /* Dimension des items  */
  .grille-item-large-4 {
    width: 22%;
  }

  /* Décalages */
  .grille-item-large-decalage-4 {
    margin-left: 26.5%;
  }

  /* Dimension des items  */
  .grille-item-large-5 {
    width: 28.25%;
  }

  /* Décalages */
  .grille-item-large-decalage-5 {
    margin-left: 32.75%;
  }

  /* Dimension des items  */
  .grille-item-large-6 {
    width: 34.5%;
  }

  /* Décalages */
  .grille-item-large-decalage-6 {
    margin-left: 39%;
  }

  /* Dimension des items  */
  .grille-item-large-7 {
    width: 40.75%;
  }

  /* Décalages */
  .grille-item-large-decalage-7 {
    margin-left: 45.25%;
  }

  /* Dimension des items  */
  .grille-item-large-8 {
    width: 47%;
  }

  /* Décalages */
  .grille-item-large-decalage-8 {
    margin-left: 51.5%;
  }

  /* Dimension des items  */
  .grille-item-large-9 {
    width: 53.25%;
  }

  /* Décalages */
  .grille-item-large-decalage-9 {
    margin-left: 57.75%;
  }

  /* Dimension des items  */
  .grille-item-large-10 {
    width: 59.5%;
  }

  /* Décalages */
  .grille-item-large-decalage-10 {
    margin-left: 64%;
  }

  /* Dimension des items  */
  .grille-item-large-11 {
    width: 65.75%;
  }

  /* Décalages */
  .grille-item-large-decalage-11 {
    margin-left: 70.25%;
  }

  /* Dimension des items  */
  .grille-item-large-12 {
    width: 72%;
  }

  /* Décalages */
  .grille-item-large-decalage-12 {
    margin-left: 76.5%;
  }

  /* Dimension des items  */
  .grille-item-large-13 {
    width: 78.25%;
  }

  /* Décalages */
  .grille-item-large-decalage-13 {
    margin-left: 82.75%;
  }

  /* Dimension des items  */
  .grille-item-large-14 {
    width: 84.5%;
  }

  /* Décalages */
  .grille-item-large-decalage-14 {
    margin-left: 89%;
  }

  /* Dimension des items  */
  .grille-item-large-15 {
    width: 90.75%;
  }

  /* Décalages */
  .grille-item-large-decalage-15 {
    margin-left: 95.25%;
  }

  /* Dimension des items  */
  .grille-item-large-16 {
    width: 97%;
  }

  /* Décalages */
  .grille-item-large-decalage-16 {
    margin-left: 101.5%;
  }
}
/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    texte.css
    Spécifications des textes
*/
/* Taille des textes */
.texte-taille-grand {
  font-size: 3em;
}

.texte-taille-petit {
  font-size: 0.8em;
}

/* Styles des textes */
.texte-style-italique {
  font-style: italic;
}

/* Couleur des textes */
.texte-couleur-principale {
  color: #A65500;
}

.texte-couleur-secondaire {
  color: #024E68;
}

/* Alignement des textes */
.texte-alignement-centre {
  text-align: center;
}

.texte-alignement-droite {
  text-align: right;
}

.texte-alignement-justifie {
  text-align: justify;
}

/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    boites.css
    Spécifications des objets de type block et inline-block
*/
/* Couleur des boites */
.boite-couleur-1 {
  background: #1a2530;
}

.boite-couleur-2 {
  background: #2c3e50;
}

.boite-couleur-3 {
  background: #34495e;
}

.boite-couleur-4 {
  background: #e74C3C;
}

.boite-couleur-neutre {
  background: #555;
}

.boite-couleur-1,
.boite-couleur-2,
.boite-couleur-3,
.boite-couleur-4,
.boite-couleur-neutre {
  padding: 10px;
}

/* Alignement du contenu des boites */
.boite-contenu-centre {
  text-align: center;
}

/* Couleur des boites */
.boite-couleur-principale {
  background: #f2f7fa;
}

/* Alignement des boites */
.boite-alignement-centre {
  margin: auto;
}

.boite-alignement-gauche {
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
}

.boite-alignement-droite {
  float: right;
  margin-left: 5%;
  margin-bottom: 5%;
}

.clear-force:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}

/* Bordures des boîtes */
.boite-bordure-large {
  border: #90b6c1 5px solid;
  padding: 20px;
}

.boite-bordure-nulle {
  border: none;
}

.boite-bordure-arrondie {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* */
.boite-marge-0 {
  margin: 0;
}

/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    menus.css
    Gestion des menus
*/
/* Menus horizontaux */
.menu-horizontal > ul, .menu-horizontal {
  list-style: none;
}

.menu-horizontal > ul > li, .menu-horizontal > li {
  display: inline-block;
}

.menu-horizontal > ul > li a, .menu-horizontal > li a {
  display: block;
}

/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    listes.css
    Gestion des listes
*/
/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    visibilite.css
    Visibilité des éléments
*/
.cache {
  display: none;
}
