@charset "UTF-8";
/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    boites.css
    Spécifications des objets de type block et inline-block
*/

    /* Couleur des boites */
        .boite-couleur-1 {
            background: #1a2530;
        }
        .boite-couleur-2 {
            background: #2c3e50;
        }
        .boite-couleur-3 {
            background: #34495e;
        }
        .boite-couleur-4 {
            background: #e74C3C;
        }
        .boite-couleur-neutre {
            background: #555;
        }
        .boite-couleur-1,
        .boite-couleur-2,
        .boite-couleur-3,
        .boite-couleur-4,
        .boite-couleur-neutre {
            padding: 10px;
        }
        
    /* Alignement du contenu des boites */
        .boite-contenu-centre {
            text-align: center;
        }


    /* Couleur des boites */
        .boite-couleur-principale {
            background: #f2f7fa;
        }
        
        
    /* Alignement des boites */
        .boite-alignement-centre {
          margin: auto;
        }

        .boite-alignement-gauche {
          float: left;
          margin-right: 5%;
          margin-bottom: 5%;
        }

        .boite-alignement-droite {
          float: right;
          margin-left: 5%;
          margin-bottom: 5%;
        }

        .clear-force:after {
            content: '';
            display: block;
            visibility: hidden;
            clear: both;
        }

    /* Bordures des boîtes */
        .boite-bordure-large {
            border: #90b6c1 5px solid;
            padding: 20px;
        }
        .boite-bordure-nulle {
            border: none;
        }
        .boite-bordure-arrondie {
            -moz-border-radius : 20px;
            -ms-border-radius : 20px;
            -webkit-border-radius : 20px;
            -o-border-radius : 20px;
            border-radius: 20px;
        }

