@charset "UTF-8";
/* 
    IEPSCSSFramework
    Version 0.0.1
    Created on : 10-mars-2015, 10:36:59
    Author     : Pascal

    texte.css
    Spécifications des textes
*/

    /* Taille des textes */
        .texte-taille-grand {
          font-size: 3em;
        }

        .texte-taille-petit {
          font-size: 0.8em;
        }

    /* Styles des textes */
        .texte-style-italique {
            font-style: italic;
        }

    /* Couleur des textes */
        .texte-couleur-principale {
          color: #A65500;
        }

        .texte-couleur-secondaire {
          color: #024E68;
        }

    /* Alignement des textes */
        .texte-alignement-centre {
          text-align: center;
        }

        .texte-alignement-droite {
          text-align: right;
        }

        .texte-alignement-justifie {
          text-align: justify;
        }
