//    IEPSCSSFramework
//    Version 0.0.1
//    Created on : 10-mars-2015, 10:36:59
//    Author     : Pascal
//
//    IEPSCSS/modules/boites.css
//    Spécifications des objets de type block et inline-block


    /* Couleurs des boites */
        .boite-couleur-principale {
            background: $couleurPrincipale;
        }
        .boite-couleur-secondaire {
            background: $couleurSecondaire;
        }
        .boite-couleur-neutre-claire {
            background: $couleurNeutreClaire;
            color: $couleurNeutreFoncee;
        }
        .boite-couleur-neutre-foncee {
            background: $couleurNeutreFoncee;
            color: $couleurNeutreClaire;
        }

        *[class*='boite-couleur'] {
            padding: $boitesPaddingPrincipal;
        }
        
    /* Alignement du contenu des boites */
        .boite-contenu-centre {
            text-align: center;
        }
        .boite-contenu-droite {
            text-align: right;
        }
        .boite-contenu-justifie {
            text-align: justify;
        }
        
        
    /* Alignement des boites */
        .boite-alignement-centre {
          margin: auto;
        }

        .boite-habillage-gauche {
          float:         right;
          margin-right:  $boitesMarginPrincipal;
          margin-bottom: $boitesMarginPrincipal;
        }

        .boite-habillage-droite {
          float:         left;
          margin-left:   $boitesMarginPrincipal;
          margin-bottom: $boitesMarginPrincipal;
        }

        .boite-annulation-habillage:after {
            content:    '';
            display:    block;
            visibility: hidden;
            clear:      both;
        }

    /* Bordures des boîtes */
        .boite-bordure-principale {
            border:  $couleurPrincipale $boitesBordureLargeurPrincipale solid;
            padding: $boitesPaddingPrincipal;
        }
        .boite-bordure-nulle {
            border: none;
        }
        .boite-bordure-arrondie {
            -moz-border-radius :    $boitesRadiusPrincipal;
            -ms-border-radius :     $boitesRadiusPrincipal;
            -webkit-border-radius : $boitesRadiusPrincipal;
            -o-border-radius :      $boitesRadiusPrincipal;
            border-radius:          $boitesRadiusPrincipal;
        }
        
    /* */
        .boite-marge-0 {
            margin: 0;
        }

