//    IEPSCSSFramework
//    Version 0.0.1
//    Created on : 10-mars-2015, 10:36:59
//    Author     : Pascal
//
//    grilles-commun.css
//    Spécifications communes aux grilles


    /* Les conteneurs */
        *[class*='conteneur'], *[class*='bloc'] {
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 0;
            clear: both;
            
            // Juste pour visualiser
            //    border: red 2px solid;
            > * {
                display: inline-block;
                overflow: hidden;
                width: 100% - $grillesEspacementColonnes;
                box-sizing: border-box;
                font-size: $textesTaillePrincipale;
                vertical-align: top; 
                margin-left : $grillesEspacementColonnes/2;
                margin-right: $grillesEspacementColonnes/2;
                
                // Juste pour visualiser
                //    border: #000 2px solid;
            }
            &.grille-conteneur-margeExt-0 {
                // Problème des espaces résiduels à gauche et à droite ???!!!
                // width: 100% + $grillesEspacementColonnes + ($grillesEspacementColonnes/5);
                // margin-left: - ($grillesEspacementColonnes/2) - ($grillesEspacementColonnes/10);
                width: 100% + $grillesEspacementColonnes;
                margin-left: - ($grillesEspacementColonnes/2);
            }
        }

        *[class*='conteneur-fixe'] {
            max-width: $grillesLargeurConteneurFixe;
            margin: auto;
        }