//    IEPSCSSFramework
//    Version 0.0.1
//    Created on : 10-mars-2015, 10:36:59
//    Author     : Pascal
//
//    IEPSCSS/modules/menus.css
//    Gestion des menus


    /* Menus horizontaux */
        .menu-horizontal > ul, .menu-horizontal {
            list-style: none;
            margin: 0;
            padding: 0;
            & > li {
                @media screen and (min-width: $ecransTailleSmall) {
                    display: inline-block;  
                }
                & > a {
                    display: block;
                }
            }
        }
        
    /* Styles des menus */
        *[class*='menu-style-bouton'] {
            a {
                padding: $menusPadding;
                background: $menusCouleurBoite;
                color: $menusCouleurTexte;
                text-decoration: $menusDecorationTexte;
                @include border-radius($menusRadiusBoite);
                @media screen and (max-width: $ecransTailleSmall) {
                    margin-bottom: 1px;
                    @include border-radius(0);
                    text-align: center;
                }
                
                &.actif {
                    background: $menusCouleurBoiteActif;
                    color: $menusCouleurTexteActif;
                }
                &:hover {
                    background: $menusCouleurBoiteSurvol;
                    color: $menusCouleurTexteSurvol;
                }
                &:active {
                    background: $menusCouleurBoiteActif;
                    color: $menusCouleurTexteActif;
                }
                &:visited {
                    background: $menusCouleurBoiteVisite;
                    color: $menusCouleurTexteVisite;
                }
            }
        }
        