//    IEPSCSSFramework
//    Version 0.0.1
//    Created on : 04-janv.-2015, 16:40:38
//    Author     : Pascal
//
//    IEPSCSS/modules/mixins.scss
//    Mixins du framework

// --------------------------------------------------------------
// Les grilles
// --------------------------------------------------------------
    @mixin classes-items($dim, $nbreColonnes) {
            $largeurUnitaire: 100% / $nbreColonnes;
            
               @for $i from 1 through $nbreColonnes {
                    $largeur: ($largeurUnitaire * $i) - $grillesEspacementColonnes;

                        .grille-item-#{$dim}-#{$i} {
                            width: $largeur;
                        }

                        .grille-item-decalage-#{$dim}-#{$i} {
                            margin-left: ($largeurUnitaire * $i) + ($grillesEspacementColonnes / 2); 
                        }
               }
    }
    
    @mixin classes-blocs-grille($dim, $nbreColonnes) {
        $largeurUnitaire: 100% / $nbreColonnes; 
   
           @for $i from 1 through $nbreColonnes {
                $largeur: ($largeurUnitaire * $i) - $grillesEspacementColonnes;

                    .grille-bloc-#{$dim}-#{$nbreColonnes}-#{$i} {
                        & > * {
                            width: $largeur;
                            margin-top: $grillesEspacementColonnes/2;
                            margin-bottom: $grillesEspacementColonnes/2;
                        } 
                    }
           }
    }

// --------------------------------------------------------------
// Visibilité
// --------------------------------------------------------------
    @mixin classes-visibilite($dim) {  
        .visibilite-#{$dim}-non {
            display: none;
        }
        .visibilite-#{$dim}-oui {
            display: initial;
        } 
    }