//    IEPSCSSFramework
//    Version 0.0.1
//    Created on : 10-mars-2015, 10:36:59
//    Author     : Pascal
//
//    IEPSCSS/modules/textes.css
//    Spécifications des textes


    /* Taille des textes */
    
        .texte-taille-grand {
          font-size: $textesTailleGrand;
          line-height: $textesTailleGrand;
        }

        .texte-taille-petit {
          font-size: $textesTaillePetit;
          line-height: $textesTaillePetit;
        }

    /* Styles des textes */
        .texte-style-italique {
            font-style: italic;
        }

    /* Couleur des textes */
        .texte-couleur-principale {
          color: $couleurPrincipale;
        }

        .texte-couleur-secondaire {
          color: $couleurSecondaire;
        }

